<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>frey | Vili Tecnologia</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <app></app>
    <script src="/static/build.js"></script>
</body>

</html>

<!--<!DOCTYPE html>
<html lang="br">
  <head>
    <meta charset="utf-8">
    <title>frey - Vili Tecnologia</title>

    <link href="http://localhost:9090/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://localhost:9090/static/js/app.js"></script>
  </head>
  <body ng-app="frey" ng-controller="FreyController">
    <div class="row">
      <div class="col-md-11">
        <h1>Frey Monitor:</h1>
      </div>
      <div class="col-md-1">
          <a class="btn btn-danger" href="/logout" style="margin-top:20%;">Logout</a>
      </div>
    </div>
    <div class="row" ng-repeat="event in events">
      <div class="col-md-12">
        <div class="panel panel-default">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th  style="width:280px;">{[{ event.client_name }]} ({[{ event.remote_ip }]})</th>
                <th class="custom-td {[{ event.processes.borr_api }]}">Borr API</th>
                <th class="custom-td {[{ event.processes.borr_front }]}">Borr FrontEnd</th>
                <th class="custom-td {[{ event.processes.asterisk }]}">Asterisk</th>
                <th class="custom-td {[{ event.processes.mysqld }]}">MySQL</th>
                <th class="custom-td {[{ event.processes.fail2ban_server }]}">Fail2Ban</th>
                <th class="custom-td">Chamadas: {[{ event.calls.active_calls }]}</th>
                <th style="width:2%;">
                  <button ng-show="!event.expanded" class="btn btn-info btn-xs" title="Informações do cliente" ng-click="event.expanded = !event.expanded" type="button">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                  </button>
                  <button ng-show="event.expanded" class="btn btn-info btn-xs" ng-click="event.expanded = !event.expanded" type="button">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                  </button>
                </th>
              </tr>
              <tr ng-show="event.expanded">
                <td colspan="8">
                  <table class="table table-hover table-striped table-bordered">
                    <thead>
                      <tr class"panel-details">
                        <th>Endereço</th>
                        <th>Http host</th>
                        <th>Http port</th>
                        <th>SSH host</th>
                        <th>SSH port</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> {[{ event.client_address }]} </td>
                        <td> {[{ event.client_web_host }]} </td>
                        <td> {[{ event.client_web_port}]} </td>
                        <td> {[{ event.client_ssh_host }]} </td>
                        <td> {[{ event.client_ssh_port }]}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-md-4 custom-col">
                      <center>
                        <b>Usuários Conectados</b>
                      </center>
                      <div class="row">
                        <b>
                          <div class="col-md-3">
                            User
                          </div>
                          <div class="col-md-3">
                            Host
                          </div>
                          <div class="col-md-3">
                            Start
                          </div>
                          <div class="col-md-3">
                            Terminal
                          </div>
                        </b>
                      </div>
                      <div class="row" ng-repeat="user in event.users">
                        <div class="col-md-3">
                          {[{ user.name }]}
                        </div>
                        <div class="col-md-3">
                          {[{ user.host }]}
                        </div>
                        <div class="col-md-3">
                          {[{ user.started }]}
                        </div>
                        <div class="col-md-3">
                          {[{ user.terminal }]}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 custom-col">
                      <center>
                        <b>Interfaces de Rede</b>
                      </center>
                      <b>
                        <div class="row">
                          <div class="col-md-4">
                            Interface
                          </div>
                          <div class="col-md-4">
                            IP
                          </div>
                          <div class="col-md-4">
                            Netmask
                          </div>
                        </div>
                      </b>
                      <div class="row" ng-repeat="if in event.network">
                        <div class="col-md-4">
                          {[{ if.interface }]}
                        </div>
                        <div class="col-md-4">
                          {[{ if.address }]}
                        </div>
                        <div class="col-md-4">
                          {[{ if.netmask }]}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 custom-col">
                      <center>
                        <b>Processos</b>
                      </center>
                      <div class="row" ng-repeat="process in event.processes.list">
                        <b>Process</b>: {[{ process.name }]} ({[{ process.pid }]})
                      </div>
                    </div>
                  </div> <br />
                  <div class="row">
                    <div class="col-md-4 custom-col">
                      <center>
                        <b>Memória</b>
                      </center>
                      <b>
                        <div class="row">
                          <div class="col-md-4">
                            Free
                          </div>
                          <div class="col-md-4">
                            Used
                          </div>
                          <div class="col-md-4">
                            Total
                          </div>
                        </div>
                      </b>
                      <div class="row">
                        <div class="col-md-4">
                          {[{ event.memory.mem_free }]}
                        </div>
                        <div class="col-md-4">
                          {[{ event.memory.mem_used }]}
                        </div>
                        <div class="col-md-4">
                          {[{ event.memory.mem_total }]}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 custom-col">
                      <center>
                        <b>Processador ({[{ event.processors.cpu_info}]})</b>
                      </center>
                      <div class="row">
                        <div class="col-md-6">
                          Load Average: {[{ event.processors.cpu_load_average }]}
                        </div>
                        <div class="col-md-6">
                          Cores: {[{ event.processors.cpu_cores }]}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 custom-col">
                      <center>
                        <b>HD</b>
                      </center>
                      <div class="row" ng-repeat="hd in event.disks">
                        <div class="col-md-6">
                          {[{ hd.device }]} ({[{ hd.mountpoint }]}) <br>
                          <b>Used:</b> {[{ hd.usage.used }]}<br><br>
                        </div>
                        <div class="col-md-6">
                          <b>Free:</b> {[{ hd.usage.free }]} <br>
                          <b>Total:</b> {[{ hd.usage.total }]}<br><br>
                        </div>
                      </div><br />
                    </div>
                  </div>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
<style>
.custom-col {
  border-left: 1px solid ;
  border-right: 1px solid;
}
.custom-row {
  border: 2px solid;
}
.offline {
  color : white;
  background-color: #AF5B59;
}

.online {
  color : white;
  background-color: #5D9860;
}

.atention {
  background-color: #75527B;
}

.panel-details {
		color: #5F5F61;
		font-style: normal;
	}

.custom-td {
  width: 180px;
}

.custom-header {
	background-color: #2d3e63 !important;
	color: #b2bfdc !important;
  font-size: 18px;
}

</style>-->
