<template>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 @click="toggleIsOpen()" class="panel-title">
				<a class="accordion-toggle">
					{{ server.client_name }}
				</a> ({{ server.remote_ip }})
					<div class="pull-right">
						<label :class="[ 'label ', server.processes.borr_api !== 'offline' ? 'label-success' : 'label-danger' ]">BORR API</label>
						<label :class="[ 'label ', server.processes.borr_front !== 'offline' ? 'label-success' : 'label-danger' ]">BORR FrontEnd</label>
						<label :class="[ 'label ', server.processes.asterisk !== 'offline' ? 'label-success' : 'label-danger' ]">Asterisk</label>
						<label :class="[ 'label ', server.processes.mysqld !== 'offline' ? 'label-success' : 'label-danger' ]">MySQL</label>
						<label :class="[ 'label ', server.processes.fail2ban_server !== 'offline' ? 'label-success' : 'label-danger' ]">Fail2Ban</label>
						<label :class="[ 'label ', server.calls.active_calls < 50 ? 'label-success' : 'label-danger' ]">Chamadas: {{ server.calls.active_calls }}</label>
					</div>
				<!--</a>-->
			</h4>
		</div>
		<div class="panel-collapse" v-el:panel-frey v-show="isOpen" transition="collapse">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<panel panel-name="serverOpen" header="Informações do Servidor" :is-open="server.serverOpen">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">Endereço: </label>
									<div class="col-sm-9">
										<p class="form-control-static"> {{ server.client_address }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">ID: </label>
									<div class="col-sm-9">
										<p class="form-control-static"> {{ server.client_id }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">SSH: </label>
									<div class="col-sm-9">
										<p class="form-control-static"> {{ 'ssh root@' + server.client_ssh_host + ' -p ' + server.client_ssh_port }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">WEB: </label>
									<div class="col-sm-9">
										<p class="form-control-static"> <a :href="serverUrl"> {{ server.client_web_host + ':' + server.client_web_port }} </a> </p>
									</div>
								</div>
							</div>
						</panel>
					</div>
					<div class="col-md-4">
						<panel panel-name="networkOpen" header="Placas de Rede" :is-open="server.networkOpen">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th> Endereço </th>
										<th> Interface </th>
										<th> Máscara </th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="net in server.network">
										<td> {{ net.address }} </td>
										<td> {{ net.interface }} </td>
										<td> {{ net.netmask }} </td>
									</tr>
								</tbody>
							</table>
						</panel>
					</div>
					<div class="col-md-4">
						<panel panel-name="hardwareOpen" header="Configurações de hardware" :is-open="server.hardwareOpen">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-5 control-label">Fabricante: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.machine_info.machine_vendor }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">Modelo: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.machine_info.machine_name }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">Processador: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.processors.cpu_info }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">Núcleos: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.processors.cpu_cores }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">Uso: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.processors.cpu_load_average }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">mem_aval: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.memory.mem_aval | formatBytes }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">Memória Total: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.memory.mem_total | formatBytes }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">Memória Usada: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.memory.mem_used | formatBytes }} </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-5 control-label">Memória Livre: </label>
									<div class="col-sm-7">
										<p class="form-control-static"> {{ server.memory.mem_free | formatBytes }} </p>
									</div>
								</div>
							</div>
						</panel>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-7">
						<panel panel-name="disksOpen" :is-open="server.disksOpen" header="Discos">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th> Dispositivo </th>
										<th> Tipo </th>
										<th> Montagem </th>
										<th> Total </th>
										<th> Usado </th>
										<th> Livre </th>
										<th> % </th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="disk in server.disks">
										<td> {{ disk.device }} </td>
										<td> {{ disk.type }} </td>
										<td> {{ disk.mountpoint }} </td>
										<td> {{ disk.usage.total | formatBytes }} </td>
										<td> {{ disk.usage.used | formatBytes }} </td>
										<td> {{ disk.usage.free | formatBytes }} </td>
										<td> {{ disk.usage.percent }} </td>
									</tr>
								</tbody>
							</table>
						</panel>
					</div>
					<div class="col-md-5">
						<panel panel-name="usersOpen" header="Usuários" :is-open="server.usersOpen">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th> Terminal </th>
										<th> Host </th>
										<th> Nome </th>
										<th> Início </th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="user in server.users">
										<td> {{ user.terminal }} </td>
										<td> {{ user.host }} </td>
										<td> {{ user.name }} </td>
										<td> {{ user.started | secondsToDate }} </td>
									</tr>
								</tbody>
							</table>
						</panel>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import coerceBoolean from 'vue-strap/src/utils/coerceBoolean.js'
import panel from './Panel.vue'

  export default {
    props: {
      isOpen: {
        type: Boolean,
        coerce: coerceBoolean,
        default: false
      },
	  server: {
		  type: Object
	  }
    },
	components: { panel },
    methods: {
      toggleIsOpen() {
        this.isOpen = !this.isOpen;
        this.$dispatch('isOpenEvent', this);
		this.server.collapseOpen = this.isOpen;
      }
    },
    transitions: {
      collapse: {
        afterEnter: function afterEnter(el) {
          el.style.maxHeight = "";
        },
        beforeLeave: function beforeLeave(el) {
          el.style.maxHeight = el.offsetHeight + "px";
          // Recalculate DOM before the class gets added.
          return el.offsetHeight;
        }
      }
    }, 
	events: {
		'isOpenEvent'(panel) {
			if(panel.panelName) {
				this.server[panel.panelName] = panel.isOpen;
			}
		}
	},
	computed: {
		serverUrl() {
			return `http://${this.server.client_web_host}:${this.server.client_web_port}`;
		}
	},
	filters: {
		secondsToDate(seconds) {
			var date = new Date(1970, 0, 1);
			date.setSeconds(seconds);
			return date.toLocaleString();
		},
		formatBytes(bytes) {
			if(bytes == 0) return '0 GB';
			let k = 1024,
				dm = 4,
				sizes = ['GB', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
				i = Math.floor(Math.log(bytes) / Math.log(k));
			return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i] || '';
		}
	}
  }
</script>

<style>
	.accordion-toggle {
		cursor: pointer;
	}
	
	.collapse-transition {
		transition: max-height .5s ease;
		overflow: hidden;
	}
	
	.collapse-enter,
	.collapse-leave {
		max-height: 0!important;
	}
	
	.label {
		margin-left: 6px !important;
	}
</style>