<template>
	<div id="app" class="container">
		<h1>Frey Monitor:</h1>
		<accordion one-at-atime="false">
			<template>
				<panel-frey v-for="server in serversRunning" :is-open="server.collapseOpen" :server="server">
				</panel-frey>
			</template>
		</accordion>
	</div>
</template>

<script>
	import accordion from 'vue-strap/src/Accordion.vue';
	import panelFrey from './components/PanelFrey.vue';

	export default {
  		data () {
    		 return {
				 serversRunning: []
			}
		},
		components: { accordion, panelFrey },
		ready () {
			let webSocket = new WebSocket('ws://' + location.host + '/ws');
			webSocket.onmessage = data => {
				let eventData = JSON.parse(data.data);
				let item = this.serversRunning.filter(x => x.client_id == eventData.client_id)[0];
				
				console.log(eventData);
				
				if(item == undefined) {
					eventData.collapseOpen = false;
					eventData.serverOpen = true;  
					eventData.networkOpen = true;  
					eventData.hardwareOpen = false;  
					eventData.disksOpen = true;  
					eventData.usersOpen = true;  
					
					this.serversRunning.push(eventData);
				} else {
					let index = this.serversRunning.indexOf(item);

					eventData.collapseOpen = this.serversRunning[index].collapseOpen; 
					eventData.serverOpen = this.serversRunning[index].serverOpen; 
					eventData.networkOpen = this.serversRunning[index].networkOpen; 
					eventData.hardwareOpen = this.serversRunning[index].hardwareOpen; 
					eventData.disksOpen = this.serversRunning[index].disksOpen; 
					eventData.usersOpen = this.serversRunning[index].usersOpen; 
					
					this.serversRunning.$set(index, eventData);
				}
			}
		}
	}
</script>

<style>
	body {
		font-family: Helvetica, sans-serif;
	}
</style>